<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wz1.myapplication">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:name="com.example.wz1.myapplication.PPApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name="com.example.wz1.myapplication.TestActivity">
        </activity>

        <activity android:name="com.example.wz1.myapplication.Test2Activity">
        </activity>

        <activity android:name="com.example.wz1.myapplication.RemoteViews.NotifacationActivity"
                  >
        </activity>


        <activity android:name="com.example.wz1.myapplication.RemoteViews.AppWidgetActivity"
                  >
        </activity>

        <activity android:name="com.example.wz1.myapplication.windowManager.WindowActivity"
                  >
        </activity>
        <activity android:name=".BookBinderTest.BookActivity"/>

        <activity android:name=".okhttp.OkMainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->

        </activity>

        <!--测试状态栏沉浸式-->
        <activity android:name="com.example.wz1.myapplication.Test3Activity">
        </activity>

        <!--测试布局图片沉浸式-->
        <activity android:name=".Test4Activity">
        </activity>
        <!--测试Fragment重叠问题,子Frgment重叠问题,和Fragment 进场动画的添加 getActivity为NULL的处理方法-->
        <!--内存重启导致父Activity丢失-->
        <activity android:name=".FragmentTestActivity"/>
        <activity android:name=".fragmentTest.TwoActivity"/>

        <!--测试webview使用-->
        <activity android:name=".webview.WebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.example.wz1.myapplication.BookBinderTest.BookService11"/>

        <service
            android:name=".MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_reply_service_config"/>
        </service>

    </application>

</manifest>